AWS_ACCESS_KEY_ID=****
AWS_REGION=****
AWS_S3_BUCKET=****
AWS_SECRET_ACCESS_KEY=****
AWS_SQS_EMAIL_QUEUE_URL=****
CLERK_ADMINS_JWT_KEY=****
CLERK_ADMINS_PUBLISHABLE_KEY=****
CLERK_ADMINS_SECRET_KEY=****
DATABASE_PASSWORD=****
DATABASE_URL=****
DATABASE_USERNAME=****
DOMAIN=****
DOMAIN_MAIN=****
DOMAIN_REGISTRATION=****
ENCRYPTION_KEY=****
ENV=****
FRONTEND_ORIGIN=****
FRONTEND_ORIGIN_MAIN=****
FRONTEND_ORIGIN_REGISTRATION=****
HOST=****
MOYASAR_API_ENDPOINT=****
MOYASAR_PUBLISHABLE_API_KEY=****
MOYASAR_SECRET_API_SECRET=****
OPENAI_API_KEY=****
PLACID_API_ENDPOINT=****
PLACID_API_KEY=****
PLACID_AWS_ACCESS_KEY_ID=****
PLACID_AWS_SECRET_ACESS_KEY=****
PORT=****
RESEND_API_KEY=****
SENDGRID_API_KEY=****
SENDGRID_VERIFIED_EMAIL=****
